<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451357458244-2nvgq9va6dev1j5o1ai97fgccnmpfpii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451357458244-2nvgq9va6dev1j5o1ai97fgccnmpfpii</string>
	<key>API_KEY</key>
	<string>AIzaSyB6G2vKSNu-vXSFYP3OAtj4bKbhQumACAw</string>
	<key>GCM_SENDER_ID</key>
	<string>451357458244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>VeldTeck.Testing-Ordering</string>
	<key>PROJECT_ID</key>
	<string>test-order-2d069</string>
	<key>STORAGE_BUCKET</key>
	<string>test-order-2d069.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:451357458244:ios:5b0f73de169f038b5f6111</string>
	<key>DATABASE_URL</key>
	<string>https://test-order-2d069.firebaseio.com</string>
</dict>
</plist>
